<div class="container" align="center">

    <div>
      <h1>Editar registro</h1>
      <form [formGroup]='editAboutForm' (ngSubmit)="editSkill()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ingrese descripcion 1</mat-label>
          <input matInput placeholder="primera descripcion" formControlName="descripcionUno">
        </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ingrese descripcion 2</mat-label>
          <input matInput placeholder="segunda descripcion" formControlName="descripcionDos">
        </mat-form-field>
  
  
        <button mat-raised-button color="primary">Editar</button>
  
      </form>
    </div>
  </div>