<div class="container-fluid" align="center">
    <div>
      <h1>Editar registro</h1>
      <form [formGroup]='editProyectForm' (ngSubmit)="editProyecto()">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ingrese titulo</mat-label>
          <input matInput placeholder="Titulo" formControlName="titulo">
        </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ingrese descripcion de actividad</mat-label>
          <input matInput placeholder="Descripcion" formControlName="descripcion">
        </mat-form-field>
  
        <button mat-raised-button color="primary">Editar</button>
  
      </form>
    </div>
  </div>