<div *ngIf="!isLogin" class="container-fluid">
    <h1>Proyectos</h1>
    <mat-card *ngFor="let proyecto of proyectos" class="test mt-2 mb-2">
        <div>
            <h2>{{proyecto.titulo}}</h2>
            <p>{{proyecto.descripcion}}</p>
            <button mat-raised-button color="accent">Ver Proyecto</button>
        </div>
    </mat-card>
</div>

<div *ngIf="isLogin" class="container-fluid">
    <div style="display:flex; justify-content: space-between;">
        <h1>Proyectos</h1>
        <span style="cursor: pointer;" (click)="createProyecto()">
            <mat-icon class="button-create">add_circle</mat-icon>
        </span>
    </div>
    <mat-card *ngFor="let proyecto of proyectos" class="test mt-2 mb-2">
        <div>
            <div style="display:flex; justify-content: space-between;">
                <h2>{{proyecto.titulo}}</h2>
                <div>
                    <span style="cursor: pointer;" (click)="openDialog(proyecto.id)">
                        <mat-icon class="button-edit">edit</mat-icon>
                    </span>
                    <span style="cursor: pointer;" (click)="deleteFunction(proyecto.id)">
                        <mat-icon class="button-delete">delete</mat-icon>
                    </span>
                </div>
            </div>

            <p>{{proyecto.descripcion}}</p>
            <button mat-raised-button color="accent">Ver Proyecto</button>
        </div>
    </mat-card>
</div>