.button-edit {
  color: #37ff17;
}

.button-delete {
  color: #ff2c2c;
}

.button-create {
  color: #fff01b;
  background-color: black;
  border-radius: 100%;
}

.button-edit:hover {
  color: #218512;
}
.button-delete:hover {
  color: #811b1b;
}
.button-create:hover {
  color: #7a7310;
}
h1 {
  color: #111;
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  background: -webkit-linear-gradient(
    rgb(248, 188, 97),
    rgb(134, 209, 231),
    rgb(234, 116, 245)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #111;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  background: -webkit-linear-gradient(
    rgb(234, 116, 245),
    rgb(134, 209, 231)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mat-card{
  border-radius: 20px;
  padding: 20px;
}
p{
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 1;
}

.test{
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}