<div *ngIf="!isLogin" class="container-fluid">
    <h1>Skills</h1>

</div>

<div *ngIf="isLogin" class="container-fluid">
        <div style="display:flex; justify-content: space-between;">
            <h1>Skills</h1>
            <span style="cursor: pointer;" (click)="createSkill()">
                <mat-icon class="button-create">add_circle</mat-icon>
            </span>
        </div>
</div>

<div *ngIf="!isLogin" class="container-fluid skillCircles">

    <div *ngFor="let item of habilidades" class="skillStyles">
        <mat-spinner mode="determinate" value="{{item.valor}}" color="accent" style="margin:0 auto"></mat-spinner>
        <p>{{item.skill}}</p>
    </div>
</div>

<div *ngIf="isLogin" class="container-fluid skillCircles">
    <div *ngFor="let item of habilidades" class="skillStyles">
        <mat-spinner mode="determinate" value="{{item.valor}}" color="accent" style="margin:0 auto"></mat-spinner>
        <p>{{item.skill}} <span style="cursor: pointer;" (click)="openDialog(habilidades.id)">
                <mat-icon class="button-edit">edit</mat-icon>
            </span>
            <span style="cursor: pointer;" (click)="deleteFunction(item.id)">
                <mat-icon class="button-delete">delete</mat-icon>
            </span>
        </p>
    </div>
</div>