<app-navbar></app-navbar>
<mat-stepper class="main">
    <mat-step>
        <ng-template matStepLabel>Sobre Mí</ng-template>
        <app-about></app-about>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Experiencia</ng-template>
        <app-experience></app-experience>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Educacion</ng-template>
        <app-education></app-education>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Skills/Habilidades</ng-template>
        <app-skills></app-skills>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Proyectos</ng-template>
        <app-proyects></app-proyects>
    </mat-step>
</mat-stepper>